@font-face {
    font-family: 'LeagueSpartan';
    src: url("../fonts/LeagueSpartan-Bold.otf");
}

$themes: (
    orange: #ff8124,
    red:    #ff0035,
    pink:   #ed639e,
    purple: #563d7c,
    blue:   #1ea0da,
    green:  #00c95e
);

@each $theme, $color in $themes {
    body.#{$theme} {
        background-color: $color;
    }
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 20px;
}