html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.price-discounted {
  color: red;
  text-decoration: line-through; }
  .price-discounted + span {
    color: red;
    text-decoration: line-through; }

.logo {
  height: 50px;
  padding-bottom: 25px; }
  .logo svg {
    width: 20%; }

.cart-icon {
  position: relative;
  display: inline-block;
  height: 36px; }
  .cart-icon img {
    height: 100%; }
  .cart-icon .cart-icon-items {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    display: inline-block;
    background-color: #00328c;
    color: #ffffff;
    padding: 2px;
    min-width: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center; }

#addtocart {
  padding: 8px 16px;
  background-color: #3faed2;
  color: #ffffff;
  border-radius: 2px;
  outline: none;
  border: none; }
  #addtocart:hover {
    background-color: #369dbc; }

.add-to-cart-wrapper {
  display: flex;
  justify-content: center; }
  .add-to-cart-wrapper #addtocart {
    margin-left: 16px; }

.banner .banner-background-image {
  width: 100%;
  height: 325px;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.33; }

.banner .container {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center; }
  .banner .container img {
    width: 32.5%;
    margin-top: 15px; }

.product-info h1, .product-info h2, .product-info p {
  text-align: center; }

.product-info h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 24px; }

.product-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px; }

.product .add-to-cart-wrapper {
  margin: 24px 0; }

header {
  width: 100%; }
  header .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px; }
    header .container nav {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header .container nav .logo {
        width: 100%; }
  header .gradient {
    height: 7px;
    background: #0070ad;
    background: linear-gradient(90deg, #0070ad 0%, #12abdb 100%); }

.container {
  max-width: 1000px;
  margin: 0 auto; }
