<a href="#">
    <span class="consonant">G</span>
    <span class="vowel">A</span>
    <span class="consonant">B</span>
    <span class="consonant">R</span>
    <span class="vowel">I</span>
    <span class="vowel">E</span>
    <span class="consonant">L</span>
    <span class="domain">.xyz</span>
</a>